**Integers in python**
Integers are numerical data types in python.
They are non decimal digits from 0 to 9, 10, -10.
The class name for integer is the int.

In [1]:
# common integers 
x = 1
x

1

In [2]:
# Integer variable
x = 100
x

100

In [3]:
# int example
x = 400000000000000000000000000000000000000
x

400000000000000000000000000000000000000

In [4]:
# Integer literals are values that are written explicitly.
x = 2000000 # int literal
x

2000000

In [5]:
# Non int literal
x = int("4")
x

4

In [ ]:
# Large numbers can be handled using delimiters.
x = 200_000_000_000_000_000_000
x

200000000000000000000

In [ ]:
# Integers can be binary, octal or hexadecimal
# Binary valies
binary_int = 0b11110011
print(binary_int)  # 243


# Octal values
octal_int = 0o224
print(octal_int)  # 148


# Hexadecimal values.
hex_int = 0x22
print(hex_int)  # 34

243
148
34

In [19]:
# Integer Literals are objects of the int class, and the type() method is used to get the class name.
number = 33
int_method_validation = type(number)
print(int_method_validation)

<class 'int'>

**Floating points numbers**
Floating point numbers are literals with decimal points.

In [20]:
# Example of floating point numbrs.
x = 2.344
x

2.344

In [21]:
# Negative float Number
x = -22.5
x

-22.5

In [ ]:
# Creating floating point numbers using exponential notation.
x = 1e7
x

10000000.0